version: '3.2'

services:
  esa:
    # container_name: es01
    build:
      context: elasticsearch/
      args:
        ELK_VERSION: $ELK_VERSION
    restart: $RESTART
    volumes:
      - type: bind
        source: ./elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      {% if elk_tls_enabled -%}
      - type: volume
        source: certs
        target: $CERTS_DIR
        read_only: true
      {% endif -%}
      - type: volume
        source: data01
        target: /usr/share/elasticsearch/data
      - type: bind
        source: /mnt/nfs/elastic/backup/
        target: /backup
    ports:
      - "{{ es_port }}:9200"
      - "{{ es1_port }}:9300"
    environment:
      node.name: "{{ hostname }}a"
      discovery.type: single-node
      # discovery.seed_hosts: "{{ hostip }}""
      # cluster.initial_master_nodes: "{{ hostname }}a"
      # #- cluster.initial_master_nodes=192.168.1.2:9300
      # - network.publish_host={{ hostname }}
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      ELASTIC_PASSWORD: "{{ elastic_password }}"
      # xpack.license.self_generated.type: basic 
{% if elk_tls_enabled %}
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key={{ certs_dir }}/{{ ansible_hostname }}/{{ ansible_hostname }}.key
      - xpack.security.http.ssl.certificate_authorities={{ certs_dir }}/ca/ca.crt
      - xpack.security.http.ssl.certificate={{ certs_dir }}/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.verification_mode=certificate 
      - xpack.security.transport.ssl.certificate_authorities={{ certs_dir }}/ca/ca.crt
      - xpack.security.transport.ssl.certificate={{ certs_dir }}/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
      - xpack.security.transport.ssl.key={{ certs_dir }}/{{ ansible_hostname }}/{{ ansible_hostname }}.key
{% else %}
      # xpack.security.enabled: True
      # - xpack.security.http.ssl.enabled=false
      # - xpack.security.transport.ssl.enabled=false
{% endif %}
    # networks:
    #   - elk
    healthcheck:
      {% if elk_tls_enabled -%}
      test: curl --cacert $CERTS_DIR/ca/ca.crt -s https://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      {% else -%}
      test: curl -s http://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
      {% endif -%}
      interval: 30s
      timeout: 10s
      retries: 5
  {% if false %}
  # esb:
  #   # container_name: es02
  #   build:
  #     context: elasticsearch/
  #     args:
  #       ELK_VERSION: $ELK_VERSION
  #   restart: $RESTART
  #   volumes:
  #     - type: bind
  #       source: ./elasticsearch/config/elasticsearch.yml
  #       target: /usr/share/elasticsearch/config/elasticsearch.yml
  #       read_only: true
  #     - type: volume
  #       source: certs
  #       target: $CERTS_DIR
  #       read_only: true
  #     - type: volume
  #       source: data02
  #       target: /usr/share/elasticsearch/data
  #     - type: bind
  #       source: /mnt/nfs/elastic/backup/
  #       target: /backup
  #   ports:
  #     - "9201:9200"
  #     - "9301:9300"
  #   environment:
  #     - node.name={{ ansible_hostname }}b
  #     - discovery.seed_hosts={{ ansible_host }}
  #     - "ES_JAVA_OPTS=-Xmx256m -Xms256m"
  #     - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
  #     - xpack.license.self_generated.type=basic
  #     - xpack.security.enabled=true
  #     - xpack.security.http.ssl.enabled=true
  #     - xpack.security.http.ssl.key=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.key
  #     - xpack.security.http.ssl.certificate_authorities=$CERTS_DIR/ca/ca.crt
  #     - xpack.security.http.ssl.certificate=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
  #     - xpack.security.transport.ssl.enabled=true
  #     - xpack.security.transport.ssl.verification_mode=certificate
  #     - xpack.security.transport.ssl.certificate_authorities=$CERTS_DIR/ca/ca.crt
  #     - xpack.security.transport.ssl.certificate=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
  #     - xpack.security.transport.ssl.key=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.key
  #   healthcheck:
  #     test: curl --cacert $CERTS_DIR/ca/ca.crt -s https://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  # esc:
  #   # container_name: es02
  #   build:
  #     context: elasticsearch/
  #     args:
  #       ELK_VERSION: $ELK_VERSION
  #   restart: $RESTART
  #   volumes:
  #     - type: bind
  #       source: ./elasticsearch/config/elasticsearch.yml
  #       target: /usr/share/elasticsearch/config/elasticsearch.yml
  #       read_only: true
  #     - type: volume
  #       source: certs
  #       target: $CERTS_DIR
  #       read_only: true
  #     - type: volume
  #       source: data02
  #       target: /usr/share/elasticsearch/data
  #     - type: bind
  #       source: /mnt/nfs/elastic/backup/
  #       target: /backup
  #   ports:
  #     - "9202:9200"
  #     - "9302:9300"
  #   environment:
  #     - node.name={{ ansible_hostname }}c
  #     - discovery.seed_hosts={{ ansible_host }}
  #     - "ES_JAVA_OPTS=-Xmx256m -Xms256m"
  #     - xpack.license.self_generated.type=basic
  #     - xpack.security.enabled=true
  #     - xpack.security.http.ssl.enabled=true
  #     - xpack.security.http.ssl.key=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.key
  #     - xpack.security.http.ssl.certificate_authorities=$CERTS_DIR/ca/ca.crt
  #     - xpack.security.http.ssl.certificate=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
  #     - xpack.security.transport.ssl.enabled=true
  #     - xpack.security.transport.ssl.verification_mode=certificate
  #     - xpack.security.transport.ssl.certificate_authorities=$CERTS_DIR/ca/ca.crt
  #     - xpack.security.transport.ssl.certificate=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.crt
  #     - xpack.security.transport.ssl.key=$CERTS_DIR/{{ ansible_hostname }}/{{ ansible_hostname }}.key
  #   healthcheck:
  #     test: curl --cacert $CERTS_DIR/ca/ca.crt -s https://localhost:9200 >/dev/null; if [[ $$? == 52 ]]; then echo 0; else echo 1; fi
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  {% endif %}

  logstash:
    build:
      context: logstash/
      args:
        ELK_VERSION: $ELK_VERSION
    restart: $RESTART
    volumes:
      - type: bind
        source: ./logstash/config/logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        # read_only: true
      - type: bind
        source: ./logstash/pattern
        target: /usr/share/logstash/pattern
        # read_only: true
      - type: bind
        source: ./logstash/pipeline
        target: /usr/share/logstash/pipeline
        # read_only: true
    {% if elk_tls_enabled %}
      - type: volume
        source: certs
        target: /certs
        # read_only: true
    {% endif -%}
    ports:
      {% if logstash_tcp_port | default(False) -%}
      - "{{ logstash_tcp_port }}:5000"
      {% endif -%}
      - "9600"
      {% if logstash_syslog_port | default(False) -%}
      - "{{ logstash_syslog_port }}:5514/udp"
      {% endif -%}
      # - "5514:5514/tcp"
      {% if logstash_beatudp_port | default(False) -%}
      - "{{ logstash_beatudp_port }}:5044/udp"
      {% endif -%}
      {% if logstash_beattcp_port | default(False) -%}
      - "{{ logstash_beattcp_port }}:5044/tcp"
    {% endif -%}
    environment:
      - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
      {%- if elk_tls_enabled %}
      - xpack.monitoring.elasticsearch.ssl.certificate_authority=/certs/ca/ca.crt
    {% endif -%}
    # networks:
    #   - elk
    depends_on:
      - esa

  kibana:
    build:
      context: kibana/
      args:
        ELK_VERSION: $ELK_VERSION
    restart: $RESTART
    volumes:
      - type: bind
        source: ./kibana/config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true

    {% if elk_tls_enabled %}
      - type: volume
        source: certs
        target: /usr/share/kibana/config/certs/
        read_only: true
    {% endif -%}
    ports:
      - "{{ kibana_ui_port }}:5601"
    
    {% if elk_tls_enabled -%}
    environment:
      - elasticsearch.ssl.certificateAuthorities=/usr/share/kibana/config/certs/ca/ca.crt
      - server.ssl.enabled=true
      - server.ssl.key=/certs/kibana/kibana.key
      - server.ssl.certificate=/certs/kibana/kibana.crt
    {% endif -%}
    {#-
    # networks:
    #   - elk
    -#}
    depends_on:
      - esa

  {#
    # healthcheck:
    #     test: curl --cacert /certs/ca/ca.crt --user elastic:$ELASTIC_PASSWORD -s https://es01:9200 >/test.log; if [[ $$? == 481 ]]; then echo 0; else echo 1; fi
    #     interval: 30s
    #     timeout: 10s
    #     retries: 5
  #}
  # File beat
  filebeat:
    build:
      context: filebeat/
      args:
        ELK_VERSION: $ELK_VERSION
    restart: $RESTART
    volumes:
      - type: bind
        source: ./filebeat/config/filebeat.yml
        target: /usr/share/filebeat/filebeat.yml
        read_only: true
      # - type: bind
      #   source: ./filebeat/module.d/
      #   target: /usr/share/module.d/
      #   # read_only: true
      - type: bind
        source: /var/lib/docker/containers
        target: /var/lib/docker/containers
        read_only: true
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      
    {% if elk_tls_enabled -%}
      - type: volume
        source: certs
        target: /certs
        # read_only: true
    {% endif -%}
    # ports:
    #   # exposing the syslog ports
    #   - "5514/udp"
    #   - "5514/tcp"
    command: "filebeat -e -strict.perms=false"
    environment:
      - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
      {% if elk_tls_enabled -%}
      - xpack.monitoring.elasticsearch.ssl.certificate_authority=/certs/ca/ca.crt
      {% endif -%}
    # networks:
    #   - elk
    depends_on:
      - esa

# networks:
#   elk:
#     driver: bridge

volumes: {"certs", "data01", "data02", "data03"}
