---
## Default Kibana configuration from Kibana base image.
## https://github.com/elastic/kibana/blob/master/src/dev/build/tasks/os_packages/docker_generator/templates/kibana_yml.template.ts
#
server.name: kibana
server.host: 0.0.0.0

server.maxPayloadBytes: 2040109466
#$(python -c "print(int(round(1.9*(2**30))))") # 2040109465.6 1.9GB 1.9*2**30

{% if elk_tls_enabled %}
elasticsearch.hosts: [ "https://esa:9200" ]
elasticsearch.ssl.certificateAuthorities: [ "/usr/share/kibana/config/certs/ca/ca.crt" ]

server.ssl.enabled: true
server.ssl.key: /usr/share/kibana/config/certs/kibana/kibana.key
server.ssl.certificate: /usr/share/kibana/config/certs/kibana/kibana.crt
{% else %}
elasticsearch.hosts: [ "http://esa:9200" ]
{% endif %}

monitoring.ui.container.elasticsearch.enabled: true
# xpack.monitoring.ui.container.elasticsearch.enabled: true

## X-Pack security credentials
#
elasticsearch.username: "{{ kibana_username }}"
elasticsearch.password: "{{ kibana_password }}"

# https://www.elastic.co/guide/en/kibana/7.15/alert-action-settings-kb.html#general-alert-action-settings
# https://www.elastic.co/guide/en/kibana/7.15/kibana-encryption-keys.html
# bin/kibana-encryption-keys generate
# docker exec -it docker_elk_kibana_1 bin/kibana-encryption-keys generate -q
# Gives the following used in the installer
# xpack.encryptedSavedObjects.encryptionKey: eb7481179f3f3b91b453e340020e1e77
# xpack.reporting.encryptionKey: 75357d4f935790342a802d0ce94b166b
# xpack.security.encryptionKey: a197f4d80de74331a6408a4fe46297ad
xpack.encryptedSavedObjects.encryptionKey: "{{ kibana_saved_object_encryption_key }}"
xpack.reporting.encryptionKey: "{{ kibana_reporting_encyption_key }}"
xpack.security.encryptionKey: "{{ kibana_security_encyrption_key }}"