---
## Default Logstash configuration from Logstash base image.
## https://github.com/elastic/logstash/blob/master/docker/data/logstash/config/logstash-full.yml
#
http.host: "0.0.0.0"

node.name: "{{ logstash_nodename | default('elk_logstash') }}"

# usefully reload the pipeline. This doesn't work with stdin input plugin
config.reload.automatic: true

## X-Pack security credentials
#
xpack.monitoring.enabled: true
{% if elk_tls_enabled %}
xpack.monitoring.elasticsearch.hosts: [ "https://esa:9200" ]
xpack.monitoring.elasticsearch.ssl.certificate_authority: /certs/ca/ca.crt
{% else %}
xpack.monitoring.elasticsearch.hosts: [ "http://esa:9200" ]
{% endif %}
xpack.monitoring.elasticsearch.username: "{{ logstash_username }}"
xpack.monitoring.elasticsearch.password: "{{ logstash_password }}"
